= content_for :javascript do
  = javascript_include_tag "meetings-show"
= content_for :css do
  = stylesheet_link_tag "meetings-show"
#counter-page{:data => {:participant_count => @meeting.participant_count, :salary => @meeting.salary}}
  #middle-wrapper
    #counter-wrapper
      %span#dollar-sign $
      #flipcountdown
    %button{:class => "btn btn-danger", :id => "end-meeting"} End Meeting