#welcome-page
  %h1 wasted
  %p#tagline find out how much money you're wasting
  #main-form-wrapper
    %form{:id => "main-form", :class => "pure-form"}
      %input{:type => "text", :name => "num-people", :id => "num-people", :placeholder => "How many people are in the meeting?"}
      %input{:type => "text", :name => "salary", :id => "salary", :value => "10000", :data => {:slider => "true", :slider_range => "10000,200000"}}
      %span.output
        Avg Salary: $10,000
      %input{:type => "submit", :value => "Start Meeting", :class => "btn btn-success", :id => "main-form-submit"}
= render "counter_page"
