%h1 wasted
%p#tagline find out how much money you're wasting
%form{:id => "main-form"}
  %input{:type => "text", :name => "num-people", :id => "num-people"}
  %select{:name => "salary", :id => "salary"}
    %option{:value => "40000"} 40k
    %option{:value => "50000"} 50k
    %option{:value => "60000"} 60k
    %option{:value => "70000"} 70k
    %option{:value => "80000"} 80k
    %option{:value => "90000"} 90k
    %option{:value => "1000000"} 100k
  %input{:type => "submit", :value => "Start Meeting", :class => "btn btn-success", :id => "main-form-submit"}
#flipcountdown