#middle-wrapper {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -45px;
}

#counter-wrapper {
  margin-bottom: 40px;
  transform: scale(1.5);
}

#flipcountdown {
  margin: 0 auto;
  display: inline;
}

#dollar-sign {
  font-size: 52px;
  vertical-align: 17px;
  color: #fff;
  background-image: linear-gradient(#3e3e3e, #111111);
  padding: 6px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

#end-meeting {
  padding: 13px 80px;
}

#ended-meeting-message {
  font-size: 52px;
  color: #449d44;
  display: none;
  text-shadow: 1px 1px #fff;
}

#url-wrapper {
  text-align: center;
}

#share-meeting {
  margin: 20px 0px;
}

#url {
  display: inline;
  background: #fff;
  padding: 5px;
}

#participants {
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-size: 36px;
  color: #000;
  width: 45%;
}

#checkout, #new-meeting-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  color: #000;
}

.checked-in {
  color: #000;
}

.checked-out {
  color: #fff;
}

.xdsoft_flipcountdown.xdsoft_size_lg > .xdsoft_digit.xdsoft_dot { background-position: -41px -4620px !important; }