h1 {
  text-align: center;
}

#tagline {
  text-align: center;

}

#main-form {
  max-width: 280px;
  margin: 40px auto 0;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
}

select {
  display: block;
  width: 100%;
  -webkit-appearance: menulist-button;
  height: 44px;
}

#main-form

.xdsoft_flipcountdown.xdsoft_size_lg > .xdsoft_digit.xdsoft_dot { background-position: -41px -4620px !important; }